/*components*/
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/buttons.css");
@import url("components/footer.css");
@import url("components/links.css");
@import url("components/sidebar.css");
@import url("components/my_cards.css");
/* Utilities */
body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #070831;
}

h1, h2, h3, h4 {
  font-family: 'agrandir', sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */
