.my-banner {
  color: white;
  font-size: 18px;
  }

.my-banner > .container > h1 {
  margin: 100px 0 0 0;
}

.my-banner > .container > p {
  margin-bottom: 50px;
  color: #908a76;
}

.img-fluid {
    max-width: 100%;
}

.reflection-image-left {
    padding-left: 50px;
    padding bottom: 50px;
    padding-right: 50px;
    padding-top: 50px;
}


.my-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .my-wrapper {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .my-wrapper {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .my-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .my-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .my-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.my-card {
    border-style: solid;
    border-color: #555555;
    border-width: 1px;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 0;
}

.card-content {
    text-align: center;
    margin: auto;
    padding: 15px;
}

.my_card:hover {
  box-shadow: 5px 5px 0 rgba(250, 46, 245, 1);
  border-radius: 0;
  transform: translate(-5px, -5px);
}

.banner-image {
  width: 500px; 
}





#axis {
border: 3px solid #73AD21;
position: absolute;
top: 45%;
left: 44%;
}

#axis img {
float: left;
transition: all 1s ease-in;
-webkit-transition: all 1s ease-in;
-moz-transition: all 1s ease-in;
-o-transition: all 1s ease-in;
}

#axis .move-left {
transform: translateX(200px);
-webkit-transform: translateX(200px);
-o-transform: translateX(200px);
-moz-transform: translateX(200px);
}

#axis .move-right {
transform: translateX(-200px);
-webkit-transform: translateX(-200px);
-o-transform: translateX(-200px);
-moz-transform: translateX(-200px);
}


#axis:hover .move-left, #axis:hover .move-right {
transform: translateX(0px);
-webkit-transform: translateX(0);
-o-transform: translateX(0);
-moz-transform: translateX(0);
}

p {
font-weight:bold;
}











