.banner {
  height: 600px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

.banner > .container > h1 {
  margin: 100px 0 0 0;
}

.banner > .container > p {
  margin-bottom: 50px;
  color: #908a76;
}

.img-fluid {
    max-width: 100%;
}

.reflection-image-left {
    padding-left: 20px;
    padding bottom: 50px;
    padding-right: 60px;
    padding-top: 50px;
}