.btn-yours {
  color: white;
  background: #908a76;
  border: 1px solid #908a76;
  padding: 15px 25px;
  font-weight: lighter;
}

.btn-yours:hover {
  background: transparent;
  color: #908a76;
  border: 1px solid #908a76;
  padding: 15px 25px;
  font-weight: lighter;
}