
.my-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}

.each-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 2px;
}

.each-card:hover {
  box-shadow: 5px 5px 0 rgba(250, 46, 245, 1);
  border-radius: 0;
  transform: translate(-5px, -5px);
}

.card-content {
  text-align: center;
  margin: auto;
  padding: 15px;
}