.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 120px;
    left: 0;
    padding-top: 100px;
    overflow-x: visible;
}

.sidenav a, .dropdown-btn {
    padding-left: 50px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'ibm-plex-mono';
    color: #878787;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: none;
    padding-left: 30px;
}

.sidenav a, .dropdown-btn {
    padding-left: 50px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'ibm-plex-mono';
    color: #878787;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}